@charset "UTF-8";
/* CSS Document */

.dbm_icon{
	font-size:70px !important;
	color: #AAAAAA;
	vertical-align:baseline !important;

}

.sub_btn{
	background:#C00;
	padding:2px 30px;
	font-size:12px;
	color:#FFF;
	border-radius:6px;
	inline-box-align:2px !important;
}

.sub_text{
	font-size:14px;
}

.row_hlight{
    background-color: blue!important;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.ui-widget-header {
    background: url("../img/dbg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    color: #fff !important;
    font-weight: normal !important;
}
.ui-dialog .ui-dialog-titlebar-close span {
    margin: -7px -9px !important;
}
#dialog-message .ui-icon {
    left: 42% !important;
}
#dlg_msg{
    font-size: 12px;
}
